/apsys.imbera.identityserverclient.webapi/bin
/apsys.imbera.identityserverclient.webapi/obj
/apsys.imbera.identityserverclient.webapi/apsys.imbera.identityserverclient.webapi.csproj.user
/packages
/.vs
